<h3>评论列表，共<span>{{ comment_count }}</span>条评论</h3>
<ul class = "comment-list list-unstyled">
    
    {% for comment in comment_list %}
        
        <li class = "comment-item">

            <span class = "nickname">{{ comment.name }}</span>
            <time class = "submit-date" datetime="{{ comment.created_time }}">{{ comment.created_time }}</time>
            <div class = "text">

                {% comment %} 浏览器会将换行以及连续的多个空格合并为一个空格。 {% endcomment %}
                {% comment %} linebreaks: 将换行替换为 br，使正常显示换行。 {% endcomment %}
                {{ comment.text | linebreaks }}
            </div>
        </li>

    {% empty %}

        暂无评论！
    {% endfor %}
</ul>